<h6 class="mt-3">Add Review</h6>
<form action="{% url 'book_details' book.id %}" method="POST">
    {% csrf_token %}
    {{ review_form | crispy }}
    <div class="text-center">
        <button class="btn-lg btn-success">Submit Review</button>
    </div>
</form>
<div class="row">
    <div class="col-12">
        <h4 class="mt-3">Reviews</h4>
    </div>
    <div class="col-12">
        <p class="small my-2">{{ reviews|length }} review{% if reviews|length != 1 %}s{% endif %}</p>
        {% for review in reviews %}
            <div class="card">
                <p class="small mt-2 ml-2">On {{ review.created_on }}</p>
                <p class="mt-0 ml-2">
                    {{ review.review_content }}
                    {% if request.user.is_superuser %}
                        <span class="float-right">
                            <button type="button" id="modal-trigger-review-{{ book.id }}-{{ review.id }}" class="btn-sm btn-danger mr-2 border-0">Delete</button>
                            {% include 'books/includes/delete_review_modal_popup.html' %}
                        </span>
                    {% endif %}
                </p>
            </div>
        {% endfor %}
    </div>
</div>